<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <!-- <div class="container-fluid"> -->
  <a class="navbar-brand <%= navMenu === 'home' ? 'active' : ''%>" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse nav" id="navbarText">
    <% if(!locals.isAuthenticated) {%>
      <span>
        <a class="nav-link <%= navMenu === 'login' ? 'active' : 'text-dark'%>" href="/login">Log in</a>
      </span>

      <span>
        <a href="/signup" class="btn <%= navMenu === 'sign-up' ? 'btn-warning' : 'btn-primary'%>">Sign Up</a>
      </span>
      <% } else {%>
        <span><a href="/main/dashboard"
            class="nav-link <%= navMenu === 'dashboard' ? 'active' : 'text-dark'%>">dashboard</a></span>

        <span class="d-flex align-items-center justify-content-start">
          <form action="/logout" method="post">
            <input type="hidden" value="<%= locals.csrf %>" name="_csrf">
            <button type="submit" class="btn btn-primary">Logout</button>
          </form>
        </span>
        <% } %>
  </div>
  <!-- </div> -->
</nav>