<section class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary ">
    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarMenuLabel">TaskQwek</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
      </div>
     <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto min-vh-100">

        <ul class="nav flex-column mb-auto dashboard-height">
          <li class="nav-item ">
            <a class="nav-link d-flex align-items-center gap-2 active <%= activeLink === 'dashboard' ? 'text-success' : ''%>" aria-current="page" href="/dashboard %>">
              Dashboard <%= role %>
            </a>
          </li>

        <hr class="my-3">

          <% if(role === 'leader') {%>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center
               gap-2 <%= activeLink === 'project' ? 'text-success' : ''%>" href="/project/project-page">
                Projects
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2 <%= activeLink === 'org' ? 'text-success' : ''%>" href="/org/org-page">
                  Organizations
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2 <%= activeLink === 'invite' ? 'text-success' : ''%>" href="/invite/page">
                  Invite
                </a>
              </li>
            <%}else {%>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 <%= activeLink === 'org' ? 'text-success' : ''%>" href="/org/org-page">
                      Organization
                    </a>
                  </li>
            <% }%>

            

          <li class="nav-item">
            <a class="nav-link d-flex align-items-center
             gap-2 <%= activeLink === 'task' ? 'text-success' : ''%>" href="/task/task-page">
            
              Tasks
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 <%= activeLink === 'reminders' ? 'text-success' : ''%>" href="/reminder/reminder-page">
              Reminders
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 <%= activeLink === 'notifications' ? 'text-success' : ''%>" href="/notification/notification-page">
            
              Notifications
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" 
            data-bs-toggle="collapse" href="#collapseSettings"
             role="button" 
            aria-expanded="false" aria-controls="collapseSettings">
              Settings
            </a>

            <div class="collapse" id="collapseSettings">
              <a class="nav-link d-flex align-items-center gap-2 justify-content-start" href="/profile/settings"></a>
                Profile
              </a>
            </div>
          </li>
          <li class="nav-item">

            <form action="/logout" method="post" class="nav-link d-flex align-items-center gap-2"> 
              <input type="hidden" value="<%= locals.csrf %>" name="_csrf">
              <button type="submit" class="btn btn-warning">Logout</button>
            </form>       
          </li>
        </ul>
      </div>
    </div>
  </section>