<%- include('includes/header', {title: "Dashboard", navItemsPresent: false}); %>

    <%- include('includes/sub-header'); %>
  
    <%- include('dashboard/dashboard-sidebar',{role,activeLink}); %>
   
    <%- include("section-template/top-section__template"); %>

    <% if(role === "leader") {%>
      <%- include("dashboard-page/admin-dashboard") %>
    <%}else {%>
    <%}%>
  </div>
</main>
    
<%- include('includes/footer'); %>



