<%- include('includes/header', {title: "Dashboard", navItemsPresent: false}); %>

    <%- include('includes/sub-header'); %>
  
    <%- include('dashboard/dashboard-sidebar',{role,activeLink}); %>
   
    <%- include("section-template/top-section__template"); %>

    <!-- <%- include("components/page-loading"); %> -->
    <% if(role === "leader") {%>
      <%- include("dashboard-page--content/admin-dashboard") %>
    <%}else {%>
      <%- include("dashboard-page--content/user-dashboard") %>
    <%}%>
  </div>
</main>
    
<%- include('includes/footer'); %>



