<%- include('includes/header', {title: "Invite", navItemsPresent: false}); %>
    <%- include('includes/sub-header'); %>
    <%- include('dashboard/dashboard-sidebar',{role,activeLink}); %>

    <%- include("section-template/top-section__template"); %>
    <%- include("components/modal"); %>
    <h1 class="mt-4">Send Email To Invite a Member:</h1>



    <form id="invite-form" class="align-items-left">
      <input type="hidden" value="<%=locals.csrf%>" name="_csrf" id="_csrf">
      <select name="org-name" id="org-name" class="my-3 py-2 px-2">
        <% leaderOrgs.forEach((item)=>{ %>
          <option value="<%= item._id%>"><%= item.name%></option>
        <%})%>
      </select>
      
      <div class="form-group invite-field--receiver_email">

        <input type="email" id="email" name="email" class="my-3 px-2 py-2 w-100">
      </div>
      
      <button type="submit" class="btn-primary btn">Send Email</button>
  </form>

     
    <%- include("section-template/bottom-section__template"); %>
    
  </div>
</main>
    
<%- include('includes/footer'); %>



