<%- include('includes/header', {title: "Login Page",navItemsPresent: true}); %>

<% if(loginInputs?.errorMessage?.credentials) {%>
    <div class="bg-warning text-center py-2">
        <p class="text-danger "><%= loginInputs?.errorMessage?.credentials %></p> 
    </div>

<% }%>
<section class="container mx-auto login-section">   
    <form action="/login" 
    method="post"
    class="mx-auto">
    <input type="hidden" value="<%=locals.csrf%>" name="_csrf">
        <div class="form-floating mb-3">
            <input type="email" class="form-control <%= loginInputs?.errorMessage?.email ? 'border-danger' : '' %>"
             id="email" name="email" 
             placeholder="name@example.com"
             value="<%= loginInputs.email %>">
            <label for="email">Email address</label>
            <p class="error-message"><%= loginInputs?.errorMessage?.email %></p> 
        </div>

          
        <div class="form-floating">
            <input type="password" class="form-control <%= loginInputs?.errorMessage?.password ? 'border-danger' : '' %>"
             id="password" 
             name="password" 
             placeholder="Password"
             value="<%= loginInputs.password %>">
            <label for="password">Password</label>

            <p class="error-message"><%= loginInputs?.errorMessage?.password %></p> 
        </div>

        <div class="form-group mt-4 text-center">
            <button type="submit" class="btn btn-primary">
                Login
            </button>
        </div>

    </form>

</section>


  <%- include('includes/footer'); %>