<%- include('includes/header', {title: "Organization", navItemsPresent: false}); %>
    <%- include('includes/sub-header'); %>
    <%- include('dashboard/dashboard-sidebar',{role,activeLink}); %>

    <%- include("section-template/top-section__template"); %>

    
    <% if(orgPageType === 'main') { %>
      <%- include('org-content/org-leader__page'); %>
    <%}else {%>
      <%- include('org-content/org-leader__org-details'); %>
     <% }%> 
    <%- include("section-template/bottom-section__template"); %>
    
  </div>
</main>
    
<%- include('includes/footer'); %>



