<%- include('includes/header', {title: "Organization", navItemsPresent: false}); %>

    <%- include('dashboard/dashboard-sidebar',{role,activeLink}); %>
    
    <%- include("section-template/top-section__template"); %>

    <%- include("project-page--content/project-content--leader"); %>

    <%- include("section-template/bottom-section__template"); %>
    
  </div>
</main>
    
<%- include('includes/footer'); %>



