<%- include('includes/header', {title: "Reminders", navItemsPresent: false}); %>
    <%- include('includes/sub-header'); %>
    <%- include('dashboard/dashboard-sidebar',{role,activeLink}); %>
    <%- include("section-template/top-section__template"); %>
  </div>
</main>
    
<%- include('includes/footer'); %>



 