<%- include('../includes/header', {title: "Organization", navItemsPresent: false}); %>
    <%- include('../includes/sub-header'); %>
    <%- include('../dashboard/dashboard-sidebar',{role,activeLink}); %>

    <%- include("../section-template/top-section__template"); %>

    <!--
    This is where the content
    -->

    <section class="mt-4" id="org-leader--page-container" >
      <div class="accordion-flush">
         <div class="accordion-item">
           <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFormLeader" aria-expanded="true" aria-controls="collapseFormLeader">
              + ADD NEW ORG
            </button>
            
            <div class="mt-3" id="collapseFormLeader">
              <div class="card card-body">
                <form id="creat-org--form">
                  <div class="mb-3">
                    <label for="org-name" class="form-label">Organization Name</label>
                    <input type="text" class="form-control" id="orgName" placeholder="Enter organization name">
                  </div>
                  <div class="mb-3">
                    <label for="org-description" class="form-label">Organization Description</label>
                    <textarea class="form-control" id="orgDescription" rows="3" placeholder="Enter description"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="projectSelect" class="form-label">Project Name</label>
                    <select name="project-options" id="project-options">
                        <option value=""></option>
                        <% for (let i = 0; i < leaderProjects.length; i++) { %>
                        <option value="<%= leaderProjects._id %>"><%= leaderProjects[i].name %></option>
                        <% } %>
                    </select>
                  </div>
                  <div class="mb-3">
                    
                    <label for="org-population">Population</label>
                    <input type="number" name="org-population" id="org-population">
                  </div>
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    

    <!-- end -->

    <%- include("../section-template/bottom-section__template"); %>
    
  </div>
</main>
    
<%- include('../includes/footer'); %>



