<%- include('../includes/header', {title: "Organization", navItemsPresent: false}); %>
    <%- include('../includes/sub-header'); %>
    <%- include('../dashboard/dashboard-sidebar',{role,activeLink}); %>

    <%- include("../section-template/top-section__template"); %>

    <!--
    This is where the content
    -->
     <section class="mt-4 ">
        <% if(orgDto?._orgName || orgDto?._orgDescription || orgDto?._orgCreatedDate ) {%>
            <h1><%=orgDto._orgName%></h1>
            <p><%= orgDto._orgDescription%></p>
            <div class="org-details--sub">
                <p>Creation Date:  <strong><%= orgDto?._orgCreatedDate%></strong></p>
            </div>
        <% }else {%>
            <h5 class="mb-5">You are not yet part of an Organization</h5>

            <form id="org-member--join" class="form-org--join mx-auto text-center">

                <input type="hidden" value="<%=locals.csrf%>" id="_csrf" name="_csrf">
                <div class="container mt-5">
                    <h4 class="text-center mb-4">Enter your 6-digit code</h4>

                    <!-- Alert placeholder -->
                    <div class="alert--placeholder"></div>

                    <div class="code-input">
                         <input type="text" maxlength="1" class="form-control code-box" autofocus>
                        <input type="text" maxlength="1" class="form-control code-box">
                        <input type="text" maxlength="1" class="form-control code-box">
                        <input type="text" maxlength="1" class="form-control code-box">
                        <input type="text" maxlength="1" class="form-control code-box">
                        <input type="text" maxlength="1" class="form-control code-box">
                    </div>
                </div>
                <button class="btn btn-primary mt-4">Join</button>
            </form>
        <% }%>
    </section>

    <!-- end -->

   

    <%- include("../section-template/bottom-section__template"); %>
    
  </div>
</main>
    
<%- include('../includes/footer'); %>



