<%- include('../includes/header', {title: "Organization", navItemsPresent: false}); %>
    <%- include('../includes/sub-header'); %>
    <%- include('../dashboard/dashboard-sidebar',{role,activeLink}); %>

    <%- include("../section-template/top-section__template"); %>

    <!--
    This is where the content
    -->
     <section class="mt-4 ">
        <% if(orgDto?.orgName || orgDto?.orgDescription || orgDto?.orgCreatedDate ) {%>
            <h1><%=orgDto.orgName%></h1>
            <p><%= orgDto.orgDescription%></p>
            <div class="org-details--sub">
                <p>Creation Date:  <strong><%= orgDto.orgCreatedDate%></strong></p>
            </div>
        <% }else {%>
            <h1>You are not yet part of an Organization</h1>

            <form action="/join-org" class="form-org--join mx-auto">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="org-code" >
                    <label for="org-code">Organization Code</label>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary">Join</button>
                </div>
            </form>
        <% }%>
    </section>

    <!-- end -->

   

    <%- include("../section-template/bottom-section__template"); %>
    
  </div>
</main>
    
<%- include('../includes/footer'); %>



